{% extends "base_generic.html" %}

{% block content %}
    <div class="content">
        <h1>Toutes les cartes</h1>
        <div class="row">
            {% for card in cards %}
                <div class="col-sm-2">
                    <div class="card text-center" style="width: 11rem;">
                        <div data-toggle="modal" data-target="#Modal{{ card.pk }}">
                            <img src='{{ card.card_image.url }}' alt=card.card_name class="card-img-top" style="cursor:pointer;">
                        </div>
                    </div>
                </div>
                <!-- Card Modal -->
                <div class="modal fade" id="Modal{{ card.pk }}" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel{{ card.pk }}">{{card.card_name}}</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <img src='{{ card.card_image.url }}' alt=card.card_name class="card-img-top">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}