{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <div class="content">
        {% if user.is_authenticated %}
            <h1>{{ deck.deck_name }}</h1>
            {% for card in deck.cards.all %}
                <p>
                    <a href="{% url 'one_card' card.pk %}"><img src='{{ card.card_image.url }}' alt=card.card_name width="200"></a>
                    <a href="{% url 'change_cards' operation='remove' pk=card.pk deck_pk=deck.pk %}">
                        <button type="button" class="btn btn-danger">Retirer</button>
                    </a>
                </p>

            {% endfor %}


            <h1>Toutes mes cartes</h1>
            {% for card in cards %}
                <p>
                    <a href="{% url 'one_card' card.pk %}">{{ card.card_name }}</a>
                    {% if not card in deck.cards.all %}
                    <a href="{% url 'change_cards' operation='add' pk=card.pk deck_pk=deck.pk %}">
                        <button type="button" class="btn btn-primary">Ajouter</button>
                    </a>
                    {% endif %}
                </p>
            {% endfor %}
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    </div>
{% endblock %}